extends layout

block content
  h1(style='font-size:3em;color:#6dc3d2;text-align:center') #{title}
  ul.list-group
    each blog, i in blogs
      li.list-group-item
        a(href='/blogs/' + blog._id)
          h2= blog.author
