.button {
  background: #1a9cb0;
  align-items: center;
  font-family: 'Oswald Regular',Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: .15px;
  font-size: 12px;
  color: #fff;
  border:0;
  cursor: pointer;
}