.footer {
  display: flex;
  height: 60px;
  background: #1a9cb0;
  align-items: center;
  font-family: 'Oswald Regular',Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: .15px;
  font-size: 16px;
  color: #fff;
  justify-content: space-around;
}