.wrapper {
  height: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.content {
  width: 900px;
  min-height: 700px;
  box-shadow: 0px 0px 5px #1a9cb0;
}
.successMsg {
  display: flex;
  height: 60px;
  background: #7F993A;
  align-items: center;
  font-family: 'Oswald Regular',Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: .15px;
  font-size: 16px;
  color: #fff;
  justify-content: center;
}